<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>components</key>
	<dict>
		<key>mainBackground</key>
		<string>greenGradient</string>
		<key>mainContentBackground</key>
		<string>darkGrayBackgroundPattern</string>
		<key>mainContentShadow</key>
		<string>black</string>
		<key>mainContentText</key>
		<string>white</string>
	</dict>
	<key>namedColors</key>
	<dict>
		<key>black</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<key>lightGreen</key>
		<array>
			<real>0.5</real>
			<real>0.79</real>
			<real>0.38</real>
			<integer>1</integer>
		</array>
		<key>mediumGreen</key>
		<array>
			<real>0.31</real>
			<real>0.5600000000000001</real>
			<real>0.38</real>
			<integer>1</integer>
		</array>
		<key>offWhite</key>
		<array>
			<real>0.95</real>
			<real>0.95</real>
			<real>0.95</real>
			<integer>1</integer>
		</array>
		<key>white</key>
		<array>
			<integer>1</integer>
			<real>1</real>
			<real>1</real>
			<real>1</real>
		</array>
	</dict>
	<key>namedGradients</key>
	<dict>
		<key>greenGradient</key>
		<dict>
			<key>colors</key>
			<array>
				<string>white</string>
				<string>lightGreen</string>
				<string>mediumGreen</string>
			</array>
			<key>locations</key>
			<array>
				<integer>0</integer>
				<real>0.3</real>
				<real>1</real>
			</array>
		</dict>
	</dict>
	<key>namedPatterns</key>
	<dict>
		<key>darkGrayBackgroundPattern</key>
		<string>BackgroundPattern.png</string>
	</dict>
</dict>
</plist>
